* {
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: auto;
}

.first {
  margin-bottom: 26px;
}

h1 {
  margin: 25px 0;
}

.list {
  display: flex;
  margin-bottom: 20px;
  list-style: none;
}

.nav_tabs a {
  font-weight: bold;
  padding: 6px;
  border: none;
  text-decoration: none;
  margin-right: 20px;
  transition: 1s;
}

.nav_tabs a {
  transform: scale(1.1);
}

.nav_tabs a:last-child {
  margin-right: 0;
}

.list_item {
  color: #6b6b6b;
  display: block;
  margin-right: 1rem;
  line-height: 22px;
}

.link {
  color: grey;
  text-decoration: none;
}

.active {
  border: 1px solid black;
  padding: 5px;
  color: whitesmoke;
  background-color: rgb(255 54 54);
  border-radius: 20px;
}
