.comment_wrapper {

    text-align: center;


}
.com{
    padding: 10px 0;
    background: rgba(212, 212, 244, 0.712);
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.comment{
    
}
.text {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.buttonDel{

}
.button {
    background-color: transparent;
    border: none;
    margin-top: 5vh;
    align-items: center;
    color: red;
}