.contentBlock{
    display: flex;
    background-color: #f2f6fb;
}
.leftContent{
    vertical-align: middle;
    width: 50%;
    text-align: center;

}
.lefttextSize{
    font-size: 60px;
    margin: 10% 0;
    
}
.leftCentrBlock{
    background-color: #ffd6e7;
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding: 10px;
}
.leftDownBlock{
    margin-top: 5%;
    font-size: 1.2rem;
}
.images{
    height: 100%;
     width: 100%;
}



