.header {
  /* background-color:red; */
  width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 2% 0 2% 0;
  align-items: center;
}

.header a {
  color: black;
  text-decoration: none;
}

.headBlock {
  display: flex;
}

.service {
  margin-right: 35%;
  margin-top: 1%;
}

.profilе {
  padding-top: 5px;
  margin-left: 15%;  
  color: #000000;
  text-decoration: none;
}
