.header {
  /* background-color:red; */
  width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  align-items: center;
}

.headBlock {
  display: flex;
}

.service {
  margin-right: 35%;
  margin-top: 1%;
}

.profil {
  margin-right: 5%;
  color: #fc6f03;
  text-decoration: none;
  margin-top: 1%;
}

.MuiSvgIcon-root {
  font-size: large;
}
 