.header {
  /* background-color:red; */
  width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  align-items: center;  
  
}

.headBlock {
  display: flex;
}

.service {
  margin-right: 35%;
  margin-top: 1%;
}

.profilе {
  margin-left: 15%;  
  color: #000000;
  text-decoration: none;
}
