.rodsBlock{
    /* display: flex; */
     width: 100%;
    /* background:linear-gradient(26.04deg, #ffffff, #cac8c9); */
}

.abv{
    margin-left: 80%;
    /* border: 1px solid #ff0066; */
    background-color: #fdeef6;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
   
}
.abv button{
    border: none;
}

.leftBlock{
    width: 80%;
    margin: 100px auto auto auto;
    background: linear-gradient(26.04deg, #6713d2, #cc208e);
    box-shadow: 0 6px 16px rgb(26 61 107 / 16%);
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    color:white;
    padding: 15px;
}

.rods{
    margin: auto;
    width: 90%;
      min-width: 0;
 
}


.cardContainer
{
    /* font-size: 120px; */
    font-weight: bold;

     width: 400px;
    height: 100%;
    margin: 120px auto; 

     border-radius: 10px;

    perspective: 1400px; 
}

.card
{
    position: relative;

    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
}

.front,
.back
{
   

    width: 100%;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

 /* .slider::before {
    color: red;
    background-color: red;
} */

/* .front
{
    color: #fff;
    background: #2196f3;
} */

.back
{
    position: absolute;
    top: 0;
    left: 0;
    
    /* margin-right: 0%; */
    width: 350px;
        transform: rotateY(180deg);

   
    background: linear-gradient(26.04deg,#e34e13,#cc208e);
}