
*{
  box-sizing: border-box;
}
.rodBlock{
  overflow: hidden;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  margin-top: 50px;
  box-shadow: 3px 1px 11px 10px rgb(222, 219, 219);
  margin-bottom: 80px;
  border-radius: 20px;
}
.rodBlock:hover{
  box-shadow: 3px 1px 20px 7px rgb(0, 0, 0);

}
.infoDoc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.imgDoc img {
  width: 100%;
  height: 100%;
  
}
.info{
  width: 80%;
  margin: auto;
  text-align: center;
  color:  red;
}

.imgDoc{
  width: 40%;
  height: 40%;
}
.textDoc h1 {
  text-align: center;
}
.textDoc{
  border-left: 1px solid black;
  margin-left: 40px;
  text-align: start;
  width: 70%;

}
.btn{
  background-color: rgba(226, 101, 12, 0.829);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  float: right;
  margin-right: 10%;
}

.wrap{
  box-shadow: 3px 1px 11px 10px rgb(222, 219, 219);
  border-radius: 20px;
  background: rgb(237, 231, 231);
  border: 1px solid black;
width: 80%;
margin: auto;
}

.secondCart{
/* border: 1px solid black; */
  border-radius: 20px;
  width: 100%;
  background: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.452);
}
.wrap:hover{
  box-shadow: 3px 1px 20px 7px rgb(0, 0, 0);

}
.photoClinic{
  width: 40%;
}
.photoClinic img {
  width: 100%;
  height: 100%;
}

.inforClinic{
  padding: 15px;
  width: 60%;
}

.cart_second h1{
width: 1000px;
text-align: center;
}
.text{
  text-align: center;
}
/* .modal {
  height: 300px;
  position: relative;
  top: -215px;
  color: white;
  background-color: black;
  border: 1px solid black;
}
.btn_first{
  margin-left: 70%;
  margin-bottom: 50px;
  background-color: blue;
  font-size: 22px;
  padding: 5px;
  border-radius: 20px;
  color: white;
}

.select{
  font-size: 22px;
  width: 150px;
  align-items: center;
  margin-left: 50%;
  margin-top: 100px;
}
.btn_second{
  font-size: 22px;
  background-color: blue;
  color: white;
  border-radius: 20px;
  padding: 10px;

  margin-left: 50%;
} */


.select_css { 
  display: block; 
  font-size: 16px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #444; 
  line-height: 1.3; 
  padding: .6em 1.4em .5em .8em; width: 100%; 
  max-width: 100%; 
  box-sizing: border-box; 
  margin: 0; 
  border: 1px solid #aaa;
   box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .5em;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: #fff; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; 
  } 
   .select_css::-ms-expand { display: none; } 
   .select_css:hover { border-color: #888; } 
   .select_css:focus { border-color: #aaa; 
   box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
   box-shadow: 0 0 0 3px -moz-mac-focusring; 
  color: #222;
   outline: none; 
  } 
   .select_css option { font-weight:normal; } 
   *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
  background-position: left .7em top 50%, 0 0; 
  padding: .6em .8em .5em 1.4em; 
  }



/* .clinics {
  width: 1000px;
  margin: auto;
  border-radius: 20px;
}
.clinics:hover{
  box-shadow: 3px 1px 20px 7px rgb(0, 0, 0);
}

.second {
  display: flex;
  justify-content: space-between;
}
.clinicPhoto{
  width: 100%;
  height: 100%;
} */

/* .clinics{
  box-shadow: 3px 1px 11px 10px rgb(222, 219, 219);
border: 1px solid black;
  margin-top: 100px;
  width: 1000px;
  margin: auto;
  border-radius: 20px;
}
.clinics:hover{
  box-shadow: 3px 1px 20px 7px rgb(0, 0, 0);

}

.clinicPhoto img {
  width: 100%;
  height: 100%;

}
.second {
  max-height: 340px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.clinicPhoto{
  width: 40%;
  min-height: 100%;
  height: 340px;
}
.infoClinic{
  width: 70%;
  margin-left: 70px;
} */