ymaps[class$="map"]:first-child:not(:last-child) {
  display: none;
}

[class*="copyrights-pane"] {
  display: none !important;
}

.cards_with_map {
  display: flex;
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
} 

.card{
  margin-top: 20px;
}

/* react yandex map */
.rym {
  width: 1000px;
  height: 735px;
}