.sidebare {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(26.04deg, #6613ed, #cc20a1);
  width: 300px;
}
.handle {
  margin-top: 10px;
}
.moi {
  text-decoration: none;
  color: white;
  margin-left: 105px;
}
.textBot {
  text-decoration: none;
  color: #fff;
}
.sideTitle {
  font-size: 26px;
  background: linear-gradient(26.04deg, #6313e3, #cc20a1);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  height: 100px;
  padding-top: 30px;
}
.handle {
  margin-top: -90px;

}
.hri {
  margin-top: none;
  margin-bottom: 0;
  border-width: 1px;
  width: 220px;
}
.imgIcon {
  position: absolute;
  width: 23px;
  margin-left: -54px;
}
.imgRecord {
  position: absolute;
  width: 30px;
  margin-left: -57px;
}
.imgCom {
  position: absolute;
  width: 23px;
  margin-left: -53px;
}
.no_moi {
  color: rgb(57, 45, 45);
  margin-left: 105px;
}
.exit {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.exit {
  background: rgb(204, 135, 135);
  border: none;
  z-index: 1;
  margin-left: 40px;
  margin-bottom: 20px;
}
.exit:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #656f0d;
  background-image: linear-gradient(315deg, #f81818 0%, #f63d3d 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.exit:hover {
  color: #000;
}
.exit:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.exit:active {
  top: 2px;
}
