.banner {
  height: 8vh;
  margin-top: 2vh;
  box-shadow: 0 6px 16px rgb(26 61 107 / 16%);
  background: linear-gradient(26.04deg, #cc208e, #6713d2, rgb(30, 20, 167));
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding: 2vh;
  border-radius: 15px;
  width: 80%;
  margin: 2vh auto;
  margin-right: 180px;
}
.imgIcon {
  width: 300px;
  background-color: rgba(233, 233, 245, 0.712);
  margin-left: 40px;
}
.info {
  background-color: rgba(171, 171, 240, 0.712);
  width: 540px;
  margin-left: 4px;
}
.container {
  display: flex;
  color: white;
}
.title {
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}
.infoAll {
  padding-top: 40px;
  font-size: 18px;
  padding-left: 15px;
}
