.cartDoctor {
  width: 24%;
  margin: 5vh 3em 1vh 3em;
  border-radius: 17px;
  background: #fff;
  overflow: hidden;
}
.cartDoctor:hover {
  transform: scale(1.1, 1.05);
}
.decoration {
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.decoration:hover {
  color: #782175db;
}
.imgDoctor {
  width: 100%;
}
.imgDoctor figure {
  position: relative;
  background: #30122f52;
}

.imgDoctor figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.imgDoctor figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.imgDoctor figure:hover img {
  opacity: 0.5;
}
.img {
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.inf {
  padding: 10px;
}
