* {
  box-sizing: border-box;
  padding: 0;
}

main {
  width: 90%;
  margin: auto;
}

.first {
  margin-bottom: 26px;
}

h1 {
  margin: 25px 0;
}

span {
  color: rgb(3, 233, 3);
}

.list {
  display: flex;
  margin-bottom: 20px;
  list-style: none;
}

.nav_tabs a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.nav_tabs a:last-child {
  margin-right: 0;
}

.list_item {
  color: #6b6b6b;
  display: block;
  margin-right: 1rem;
  line-height: 22px;
}

.link {
  color: grey;
  text-decoration: none;
}
 
.active {
  border-top: 2px solid #ff7f32;
  border-bottom: 2px solid #ff7f32;
  border-radius: 4px;
}