* {
  box-sizing: border-box;
  padding:  5px;
}

main {
  width: 90%;
  margin: auto;
}

.first {
  margin-bottom: 50px;
}

.list {
  display: flex;
  padding: 0;
  list-style: none;
}

.list_item {
  color: #6b6b6b;
  display: block;
  margin-right: 1rem;
  line-height: 22px;
}

.link {
  color: grey;
  text-decoration: none;
}


